################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/Properties
*.pdb
*.dll
*.exe
/bin/Debug/net5.0
